.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
    position:relative;
}

.my-repeat-animation.ng-enter {
    -webkit-animation: 0.5s repeat-animation-enter;
    animation: 0.5s repeat-animation-enter;
}

.my-repeat-animation.ng-leave {
    -webkit-animation: 0.5s repeat-animation-leave;
    animation: 0.5s repeat-animation-leave;
}

.my-repeat-animation.ng-move {
    -webkit-animation: 0.5s repeat-animation-move;
    animation: 0.5s repeat-animation-move;
}

@keyframes repeat-animation-enter {
    from {
        left:-10px;
        opacity:0;
    }
    to {
        left:0;
        opacity:1;
    }
}

@-webkit-keyframes repeat-animation-enter {
    from {
        left:-10px;
        opacity:0;
    }
    to {
        left:0;
        opacity:1;
    }
}

@keyframes repeat-animation-leave {
    from {
        left:0;
        opacity:1;
    }
    to {
        left:-10px;
        opacity:0;
    }
}

@-webkit-keyframes repeat-animation-leave {
    from {
        left:0;
        opacity:1;
    }
    to {
        left:-10px;
        opacity:0;
    }
}

@keyframes repeat-animation-move {
    from { opacity:0.5; }
    to { opacity:1; }
}

@-webkit-keyframes repeat-animation-move {
    from { opacity:0.5; }
    to { opacity:1; }
}